/*
  ColorUi for uniApp  v2.1.6 | by 文晓港 2019-05-31 10:44:24
  仅供学习交流，如作它用所承受的法律责任一概与作者无关  
  
  *使用ColorUi开发扩展与插件时，请注明基于ColorUi开发 
  
  （QQ交流群：240787041）
*/

/* ==================
        初始化
 ==================== */
body {
  background-color: #f1f1f1;
  font-size: 28upx;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}

.round {
  border-radius: 5000upx;
}

.radius {
  border-radius: 6upx;
}

.margin-xs {
  margin: 10upx;
}

.margin-sm {
  margin: 20upx;
}

.margin {
  margin: 30upx;
}

.margin-lg {
  margin: 40upx;
}

.margin-xl {
  margin: 50upx;
}

.margin-top-xs {
  margin-top: 10upx;
}

.margin-top-sm {
  margin-top: 20upx;
}

.margin-top {
  margin-top: 30upx;
}

.margin-top-lg {
  margin-top: 40upx;
}

.margin-top-xl {
  margin-top: 50upx;
}

.margin-right-xs {
  margin-right: 10upx;
}

.margin-right-sm {
  margin-right: 20upx;
}

.margin-right {
  margin-right: 30upx;
}

.margin-right-lg {
  margin-right: 40upx;
}

.margin-right-xl {
  margin-right: 50upx;
}

.margin-bottom-xs {
  margin-bottom: 10upx;
}

.margin-bottom-sm {
  margin-bottom: 20upx;
}

.margin-bottom {
  margin-bottom: 30upx;
}

.margin-bottom-lg {
  margin-bottom: 40upx;
}

.margin-bottom-xl {
  margin-bottom: 50upx;
}

.margin-left-xs {
  margin-left: 10upx;
}

.margin-left-sm {
  margin-left: 20upx;
}

.margin-left {
  margin-left: 30upx;
}

.margin-left-lg {
  margin-left: 40upx;
}

.margin-left-xl {
  margin-left: 50upx;
}

.margin-lr-xs {
  margin-left: 10upx;
  margin-right: 10upx;
}

.margin-lr-sm {
  margin-left: 20upx;
  margin-right: 20upx;
}

.margin-lr {
  margin-left: 30upx;
  margin-right: 30upx;
}

.margin-lr-lg {
  margin-left: 40upx;
  margin-right: 40upx;
}

.margin-lr-xl {
  margin-left: 50upx;
  margin-right: 50upx;
}

.margin-tb-xs {
  margin-top: 10upx;
  margin-bottom: 10upx;
}

.margin-tb-sm {
  margin-top: 20upx;
  margin-bottom: 20upx;
}

.margin-tb {
  margin-top: 30upx;
  margin-bottom: 30upx;
}

.margin-tb-lg {
  margin-top: 40upx;
  margin-bottom: 40upx;
}

.margin-tb-xl {
  margin-top: 50upx;
  margin-bottom: 50upx;
}

.padding-0 {
  padding: 0;
}

.padding-xs {
  padding: 10upx;
}

.padding-sm {
  padding: 20upx;
}

.padding {
  padding: 30upx;
}

.padding-lg {
  padding: 40upx;
}

.padding-xl {
  padding: 50upx;
}

.padding-top-xs {
  padding-top: 10upx;
}

.padding-top-sm {
  padding-top: 20upx;
}

.padding-top {
  padding-top: 30upx;
}

.padding-top-lg {
  padding-top: 40upx;
}

.padding-top-xl {
  padding-top: 50upx;
}

.padding-right-xs {
  padding-right: 10upx;
}

.padding-right-sm {
  padding-right: 20upx;
}

.padding-right {
  padding-right: 30upx;
}

.padding-right-lg {
  padding-right: 40upx;
}

.padding-right-xl {
  padding-right: 50upx;
}

.padding-bottom-xs {
  padding-bottom: 10upx;
}

.padding-bottom-sm {
  padding-bottom: 20upx;
}

.padding-bottom {
  padding-bottom: 30upx;
}

.padding-bottom-lg {
  padding-bottom: 40upx;
}

.padding-bottom-xl {
  padding-bottom: 50upx;
}

.padding-left-xs {
  padding-left: 10upx;
}

.padding-left-sm {
  padding-left: 20upx;
}

.padding-left {
  padding-left: 30upx;
}

.padding-left-lg {
  padding-left: 40upx;
}

.padding-left-xl {
  padding-left: 50upx;
}

.padding-lr-xs {
  padding-left: 10upx;
  padding-right: 10upx;
}

.padding-lr-sm {
  padding-left: 20upx;
  padding-right: 20upx;
}

.padding-lr {
  padding-left: 30upx;
  padding-right: 30upx;
}

.padding-lr-lg {
  padding-left: 40upx;
  padding-right: 40upx;
}

.padding-lr-xl {
  padding-left: 50upx;
  padding-right: 50upx;
}

.padding-tb-xs {
  padding-top: 10upx;
  padding-bottom: 10upx;
}

.padding-tb-sm {
  padding-top: 20upx;
  padding-bottom: 20upx;
}

.padding-tb {
  padding-top: 30upx;
  padding-bottom: 30upx;
}

.padding-tb-lg {
  padding-top: 40upx;
  padding-bottom: 40upx;
}

.padding-tb-xl {
  padding-top: 50upx;
  padding-bottom: 50upx;
}

.bg-red {
  background-color: #e54d42;
  color: #ffffff;
}

.bg-orange {
  background-color: #f37b1d;
  color: #ffffff;
}

.bg-yellow {
  background-color: #fbbd08;
  color: #333333;
}

.bg-olive {
  background-color: #8dc63f;
  color: #ffffff;
}

.bg-green {
  background-color: #39b54a;
  color: #ffffff;
}

.bg-cyan {
  background-color: #1cbbb4;
  color: #ffffff;
}

.bg-blue {
  background-color: #0081ff;
  color: #ffffff;
}

.bg-purple {
  background-color: #6739b6;
  color: #ffffff;
}

.bg-mauve {
  background-color: #9c26b0;
  color: #ffffff;
}

.bg-pink {
  background-color: #e03997;
  color: #ffffff;
}

.bg-brown {
  background-color: #a5673f;
  color: #ffffff;
}

.bg-grey {
  background-color: #8799a3;
  color: #ffffff;
}

.bg-gray {
  background-color: #f0f0f0;
  color: #333333;
}

.bg-black {
  background-color: #333333;
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
  color: #666666;
}

.bg-red.light {
  color: #e54d42;
  background-color: #fadbd9;
}

.bg-orange.light {
  color: #f37b1d;
  background-color: #fde6d2;
}

.bg-yellow.light {
  color: #fbbd08;
  background-color: #fef2ced2;
}

.bg-olive.light {
  color: #8dc63f;
  background-color: #e8f4d9;
}

.bg-green.light {
  color: #39b54a;
  background-color: #d7f0dbff;
}

.bg-cyan.light {
  color: #1cbbb4;
  background-color: #d2f1f0;
}

.bg-blue.light {
  color: #0081ff;
  background-color: #cce6ff;
}

.bg-purple.light {
  color: #6739b6;
  background-color: #e1d7f0;
}

.bg-mauve.light {
  color: #9c26b0;
  background-color: #ebd4ef;
}

.bg-pink.light {
  color: #e03997;
  background-color: #f9d7ea;
}

.bg-brown.light {
  color: #a5673f;
  background-color: #ede1d9;
}

.bg-grey.light {
  color: #8799a3;
  background-color: #e7ebed;
}

.bg-gradual-red {
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
  color: #ffffff;
}

.bg-gradual-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #ffffff;
}

.bg-gradual-green {
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
  color: #ffffff;
}

.bg-gradual-purple {
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
  color: #ffffff;
}

.bg-gradual-pink {
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
  color: #ffffff;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #ffffff;
}

/* ==================
          文本
 ==================== */

.text-xs {
  font-size: 20upx;
}

.text-sm {
  font-size: 24upx;
}

.text-df {
  font-size: 28upx;
}

.text-lg {
  font-size: 32upx;
}

.text-xl {
  font-size: 36upx;
}

.text-xxl {
  font-size: 44upx;
}

.text-sl {
  font-size: 80upx;
}

.text-xsl {
  font-size: 120upx;
}

.text-Abc {
  text-transform: Capitalize;
}

.text-ABC {
  text-transform: Uppercase;
}

.text-abc {
  text-transform: Lowercase;
}

.text-price::before {
  content: '¥';
  font-size: 80%;
  margin-right: 4upx;
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-red,
.line-red,
.lines-red {
  color: #e54d42;
}

.text-orange,
.line-orange,
.lines-orange {
  color: #f37b1d;
}

.text-yellow,
.line-yellow,
.lines-yellow {
  color: #fbbd08;
}

.text-olive,
.line-olive,
.lines-olive {
  color: #8dc63f;
}

.text-green,
.line-green,
.lines-green {
  color: #39b54a;
}

.text-cyan,
.line-cyan,
.lines-cyan {
  color: #1cbbb4;
}

.text-blue,
.line-blue,
.lines-blue {
  color: #0081ff;
}

.text-purple,
.line-purple,
.lines-purple {
  color: #6739b6;
}

.text-mauve,
.line-mauve,
.lines-mauve {
  color: #9c26b0;
}

.text-pink,
.line-pink,
.lines-pink {
  color: #e03997;
}

.text-brown,
.line-brown,
.lines-brown {
  color: #a5673f;
}

.text-grey,
.line-grey,
.lines-grey {
  color: #8799a3;
}

.text-gray,
.line-gray,
.lines-gray {
  color: #aaaaaa;
}

.text-black,
.line-black,
.lines-black {
  color: #333333;
}

.text-white,
.line-white,
.lines-white {
  color: #ffffff;
}
