@charset "UTF-8";
/* 字体颜色 */
.color-primary {
  color: #0088ff;
}

.color-success {
  color: #33bb44;
}

.color-warning {
  color: #ff7711;
}

.color-error {
  color: #ee4444;
}

.color-pink {
  color: #ee3399;
}

.color-purple {
  color: #6633bb;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-transparent {
  color: transparent;
}

.color-content {
  color: #303030;
}

.color-secondary {
  color: #909090;
}

.color-placeholder {
  color: #a0a0a0;
}

.color-disabled {
  color: #c0c0c0;
}

.color-line-light {
  color: #e4e4e4;
}

.color-line-default {
  color: #c3c3c3;
}

.color-fill-light {
  color: #f5f5f5;
}

.color-fill-default {
  color: #f0f0f0;
}

.color-fill-deep {
  color: #ebebeb;
}

.color-primary-hover {
  color: #cceeff;
}

.color-success-hover {
  color: #ddeebb;
}

.color-warning-hover {
  color: #ffeedd;
}

.color-error-hover {
  color: #ffdddd;
}

.color-pink-hover {
  color: #ffddee;
}

.color-purple-hover {
  color: #eeddff;
}

.color-white-hover {
  color: #ffffff;
}

.color-black-hover {
  color: #000000;
}

.color-transparent-hover {
  color: transparent;
}

/* 边框颜色 */
.border-primary {
  border-color: #0088ff;
}

.border-success {
  border-color: #33bb44;
}

.border-warning {
  border-color: #ff7711;
}

.border-error {
  border-color: #ee4444;
}

.border-pink {
  border-color: #ee3399;
}

.border-purple {
  border-color: #6633bb;
}

.border-white {
  border-color: #ffffff;
}

.border-black {
  border-color: #000000;
}

.border-transparent {
  border-color: transparent;
}

.border-content {
  border-color: #303030;
}

.border-secondary {
  border-color: #909090;
}

.border-placeholder {
  border-color: #a0a0a0;
}

.border-disabled {
  border-color: #c0c0c0;
}

.border-line-light {
  border-color: #e4e4e4;
}

.border-line-default {
  border-color: #c3c3c3;
}

.border-fill-light {
  border-color: #f5f5f5;
}

.border-fill-default {
  border-color: #f0f0f0;
}

.border-fill-deep {
  border-color: #ebebeb;
}

.border-primary-hover {
  border-color: #cceeff;
}

.border-success-hover {
  border-color: #ddeebb;
}

.border-warning-hover {
  border-color: #ffeedd;
}

.border-error-hover {
  border-color: #ffdddd;
}

.border-pink-hover {
  border-color: #ffddee;
}

.border-purple-hover {
  border-color: #eeddff;
}

.border-white-hover {
  border-color: #ffffff;
}

.border-black-hover {
  border-color: #000000;
}

.border-transparent-hover {
  border-color: transparent;
}

/* 背景颜色 */
.bg-primary {
  background-color: #0088ff;
}

.bg-success {
  background-color: #33bb44;
}

.bg-warning {
  background-color: #ff7711;
}

.bg-error {
  background-color: #ee4444;
}

.bg-pink {
  background-color: #ee3399;
}

.bg-purple {
  background-color: #6633bb;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-content {
  background-color: #303030;
}

.bg-secondary {
  background-color: #909090;
}

.bg-placeholder {
  background-color: #a0a0a0;
}

.bg-disabled {
  background-color: #c0c0c0;
}

.bg-line-light {
  background-color: #e4e4e4;
}

.bg-line-default {
  background-color: #c3c3c3;
}

.bg-fill-light {
  background-color: #f5f5f5;
}

.bg-fill-default {
  background-color: #f0f0f0;
}

.bg-fill-deep {
  background-color: #ebebeb;
}

.bg-primary-hover {
  background-color: #cceeff;
}

.bg-success-hover {
  background-color: #ddeebb;
}

.bg-warning-hover {
  background-color: #ffeedd;
}

.bg-error-hover {
  background-color: #ffdddd;
}

.bg-pink-hover {
  background-color: #ffddee;
}

.bg-purple-hover {
  background-color: #eeddff;
}

.bg-white-hover {
  background-color: #ffffff;
}

.bg-black-hover {
  background-color: #000000;
}

.bg-transparent-hover {
  background-color: transparent;
}

/* 背景的覆盖cover颜色, 可用于覆盖上面的bg-XXX */
.bg-primary-cover {
  background-color: #0088ff;
}

.bg-success-cover {
  background-color: #33bb44;
}

.bg-warning-cover {
  background-color: #ff7711;
}

.bg-error-cover {
  background-color: #ee4444;
}

.bg-pink-cover {
  background-color: #ee3399;
}

.bg-purple-cover {
  background-color: #6633bb;
}

.bg-white-cover {
  background-color: #ffffff;
}

.bg-black-cover {
  background-color: #000000;
}

.bg-transparent-cover {
  background-color: transparent;
}

.bg-content-cover {
  background-color: #303030;
}

.bg-secondary-cover {
  background-color: #909090;
}

.bg-placeholder-cover {
  background-color: #a0a0a0;
}

.bg-disabled-cover {
  background-color: #c0c0c0;
}

.bg-line-light-cover {
  background-color: #e4e4e4;
}

.bg-line-default-cover {
  background-color: #c3c3c3;
}

.bg-fill-light-cover {
  background-color: #f5f5f5;
}

.bg-fill-default-cover {
  background-color: #f0f0f0;
}

.bg-fill-deep-cover {
  background-color: #ebebeb;
}

.bg-primary-hover-cover {
  background-color: #cceeff;
}

.bg-success-hover-cover {
  background-color: #ddeebb;
}

.bg-warning-hover-cover {
  background-color: #ffeedd;
}

.bg-error-hover-cover {
  background-color: #ffdddd;
}

.bg-pink-hover-cover {
  background-color: #ffddee;
}

.bg-purple-hover-cover {
  background-color: #eeddff;
}

.bg-white-hover-cover {
  background-color: #ffffff;
}

.bg-black-hover-cover {
  background-color: #000000;
}

.bg-transparent-hover-cover {
  background-color: transparent;
}

/* 按钮的禁用背景颜色, 使用时类名disabled即可（貌似有问题，使用了平台自带的disabled效果） */
button[disabled].disabled.bg-primary {
  background-color: #0088ff;
}

button[disabled].disabled.bg-success {
  background-color: #33bb44;
}

button[disabled].disabled.bg-warning {
  background-color: #ff7711;
}

button[disabled].disabled.bg-error {
  background-color: #ee4444;
}

button[disabled].disabled.bg-pink {
  background-color: #ee3399;
}

button[disabled].disabled.bg-purple {
  background-color: #6633bb;
}

button[disabled].disabled.bg-white {
  background-color: #ffffff;
}

button[disabled].disabled.bg-black {
  background-color: #000000;
}

button[disabled].disabled.bg-transparent {
  background-color: transparent;
}

button[disabled].disabled.bg-content {
  background-color: #303030;
}

button[disabled].disabled.bg-secondary {
  background-color: #909090;
}

button[disabled].disabled.bg-placeholder {
  background-color: #a0a0a0;
}

button[disabled].disabled.bg-disabled {
  background-color: #c0c0c0;
}

button[disabled].disabled.bg-line-light {
  background-color: #e4e4e4;
}

button[disabled].disabled.bg-line-default {
  background-color: #c3c3c3;
}

button[disabled].disabled.bg-fill-light {
  background-color: #f5f5f5;
}

button[disabled].disabled.bg-fill-default {
  background-color: #f0f0f0;
}

button[disabled].disabled.bg-fill-deep {
  background-color: #ebebeb;
}

button[disabled].disabled.bg-primary-hover {
  background-color: #cceeff;
}

button[disabled].disabled.bg-success-hover {
  background-color: #ddeebb;
}

button[disabled].disabled.bg-warning-hover {
  background-color: #ffeedd;
}

button[disabled].disabled.bg-error-hover {
  background-color: #ffdddd;
}

button[disabled].disabled.bg-pink-hover {
  background-color: #ffddee;
}

button[disabled].disabled.bg-purple-hover {
  background-color: #eeddff;
}

button[disabled].disabled.bg-white-hover {
  background-color: #ffffff;
}

button[disabled].disabled.bg-black-hover {
  background-color: #000000;
}

button[disabled].disabled.bg-transparent-hover {
  background-color: transparent;
}

/* 按钮的禁用文字颜色, 使用时加上类名disabled即可（貌似有问题，使用了平台自带的disabled效果） */
button[disabled].disabled.color-primary {
  color: #0088ff;
}

button[disabled].disabled.color-success {
  color: #33bb44;
}

button[disabled].disabled.color-warning {
  color: #ff7711;
}

button[disabled].disabled.color-error {
  color: #ee4444;
}

button[disabled].disabled.color-pink {
  color: #ee3399;
}

button[disabled].disabled.color-purple {
  color: #6633bb;
}

button[disabled].disabled.color-white {
  color: #ffffff;
}

button[disabled].disabled.color-black {
  color: #000000;
}

button[disabled].disabled.color-transparent {
  color: transparent;
}

button[disabled].disabled.color-content {
  color: #303030;
}

button[disabled].disabled.color-secondary {
  color: #909090;
}

button[disabled].disabled.color-placeholder {
  color: #a0a0a0;
}

button[disabled].disabled.color-disabled {
  color: #c0c0c0;
}

button[disabled].disabled.color-line-light {
  color: #e4e4e4;
}

button[disabled].disabled.color-line-default {
  color: #c3c3c3;
}

button[disabled].disabled.color-fill-light {
  color: #f5f5f5;
}

button[disabled].disabled.color-fill-default {
  color: #f0f0f0;
}

button[disabled].disabled.color-fill-deep {
  color: #ebebeb;
}

button[disabled].disabled.color-primary-hover {
  color: #cceeff;
}

button[disabled].disabled.color-success-hover {
  color: #ddeebb;
}

button[disabled].disabled.color-warning-hover {
  color: #ffeedd;
}

button[disabled].disabled.color-error-hover {
  color: #ffdddd;
}

button[disabled].disabled.color-pink-hover {
  color: #ffddee;
}

button[disabled].disabled.color-purple-hover {
  color: #eeddff;
}

button[disabled].disabled.color-white-hover {
  color: #ffffff;
}

button[disabled].disabled.color-black-hover {
  color: #000000;
}

button[disabled].disabled.color-transparent-hover {
  color: transparent;
}

/* 字体家族 */
.family-regular {
  font-family: 'PingFangSC-Regular';
}

.family-medium {
  font-family: 'PingFangSC-Medium';
}

/* 遮罩类 */
.mask-default {
  background: rgba(0, 0, 0, 0.3);
}

.mask-deep {
  background: rgba(0, 0, 0, 0.5);
}

/* 阴影类 */
.shadow-default {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* 字体尺寸 */
.font-desc {
  font-size: 20rpx;
}

.font-secondary {
  font-size: 24rpx;
}

.font-content {
  font-size: 28rpx;
}

.font-header {
  font-size: 32rpx;
}

.font-title {
  font-size: 36rpx;
}

.font-xt {
  font-size: 40rpx;
}

.font-xxt {
  font-size: 48rpx;
}

/* margin间距类，形如ml-l, mr-l */
.mt-xxs {
  margin-top: 4rpx;
}

.mt-xs {
  margin-top: 8rpx;
}

.mt-s {
  margin-top: 16rpx;
}

.mt-d {
  margin-top: 24rpx;
}

.mt-l {
  margin-top: 32rpx;
}

.mt-xl {
  margin-top: 40rpx;
}

.mr-xxs {
  margin-right: 4rpx;
}

.mr-xs {
  margin-right: 8rpx;
}

.mr-s {
  margin-right: 16rpx;
}

.mr-d {
  margin-right: 24rpx;
}

.mr-l {
  margin-right: 32rpx;
}

.mr-xl {
  margin-right: 40rpx;
}

.mb-xxs {
  margin-bottom: 4rpx;
}

.mb-xs {
  margin-bottom: 8rpx;
}

.mb-s {
  margin-bottom: 16rpx;
}

.mb-d {
  margin-bottom: 24rpx;
}

.mb-l {
  margin-bottom: 32rpx;
}

.mb-xl {
  margin-bottom: 40rpx;
}

.ml-xxs {
  margin-left: 4rpx;
}

.ml-xs {
  margin-left: 8rpx;
}

.ml-s {
  margin-left: 16rpx;
}

.ml-d {
  margin-left: 24rpx;
}

.ml-l {
  margin-left: 32rpx;
}

.ml-xl {
  margin-left: 40rpx;
}

/* padding间距类，形如pl-l, pr-l */
.pt-xxs {
  padding-top: 4rpx;
}

.pt-xs {
  padding-top: 8rpx;
}

.pt-s {
  padding-top: 16rpx;
}

.pt-d {
  padding-top: 24rpx;
}

.pt-l {
  padding-top: 32rpx;
}

.pt-xl {
  padding-top: 40rpx;
}

.pr-xxs {
  padding-right: 4rpx;
}

.pr-xs {
  padding-right: 8rpx;
}

.pr-s {
  padding-right: 16rpx;
}

.pr-d {
  padding-right: 24rpx;
}

.pr-l {
  padding-right: 32rpx;
}

.pr-xl {
  padding-right: 40rpx;
}

.pb-xxs {
  padding-bottom: 4rpx;
}

.pb-xs {
  padding-bottom: 8rpx;
}

.pb-s {
  padding-bottom: 16rpx;
}

.pb-d {
  padding-bottom: 24rpx;
}

.pb-l {
  padding-bottom: 32rpx;
}

.pb-xl {
  padding-bottom: 40rpx;
}

.pl-xxs {
  padding-left: 4rpx;
}

.pl-xs {
  padding-left: 8rpx;
}

.pl-s {
  padding-left: 16rpx;
}

.pl-d {
  padding-left: 24rpx;
}

.pl-l {
  padding-left: 32rpx;
}

.pl-xl {
  padding-left: 40rpx;
}

/* margin间距类，形如mlr-l, mtb-l */
.mlr-xxs {
  margin-left: 4rpx;
  margin-right: 4rpx;
}

.mlr-xs {
  margin-left: 8rpx;
  margin-right: 8rpx;
}

.mlr-s {
  margin-left: 16rpx;
  margin-right: 16rpx;
}

.mlr-d {
  margin-left: 24rpx;
  margin-right: 24rpx;
}

.mlr-l {
  margin-left: 32rpx;
  margin-right: 32rpx;
}

.mlr-xl {
  margin-left: 40rpx;
  margin-right: 40rpx;
}

.mtb-xxs {
  margin-top: 4rpx;
  margin-bottom: 4rpx;
}

.mtb-xs {
  margin-top: 8rpx;
  margin-bottom: 8rpx;
}

.mtb-s {
  margin-top: 16rpx;
  margin-bottom: 16rpx;
}

.mtb-d {
  margin-top: 24rpx;
  margin-bottom: 24rpx;
}

.mtb-l {
  margin-top: 32rpx;
  margin-bottom: 32rpx;
}

.mtb-xl {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}

/* padding间距类，形如plr-l, ptb-l, p-all-l */
.plr-xxs {
  padding-left: 4rpx;
  padding-right: 4rpx;
}

.plr-xs {
  padding-left: 8rpx;
  padding-right: 8rpx;
}

.plr-s {
  padding-left: 16rpx;
  padding-right: 16rpx;
}

.plr-d {
  padding-left: 24rpx;
  padding-right: 24rpx;
}

.plr-l {
  padding-left: 32rpx;
  padding-right: 32rpx;
}

.plr-xl {
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.ptb-xxs {
  padding-top: 4rpx;
  padding-bottom: 4rpx;
}

.ptb-xs {
  padding-top: 8rpx;
  padding-bottom: 8rpx;
}

.ptb-s {
  padding-top: 16rpx;
  padding-bottom: 16rpx;
}

.ptb-d {
  padding-top: 24rpx;
  padding-bottom: 24rpx;
}

.ptb-l {
  padding-top: 32rpx;
  padding-bottom: 32rpx;
}

.ptb-xl {
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}

.p-all-xxs {
  padding: 4rpx;
}

.p-all-xs {
  padding: 8rpx;
}

.p-all-s {
  padding: 16rpx;
}

.p-all-d {
  padding: 24rpx;
}

.p-all-l {
  padding: 32rpx;
}

.p-all-xl {
  padding: 40rpx;
}

/* 高度类 */
.height-button-default {
  height: 96rpx;
}

.height-button-small {
  height: 64rpx;
}

.height-cell-default {
  height: 88rpx;
}

.height-cell-large {
  height: 120rpx;
}

/* 圆角类 */
.radius-none {
  border-radius: 0;
}

.radius-round {
  border-radius: 50%;
}

.radius-small {
  border-radius: 8rpx;
}

.radius-default {
  border-radius: 12rpx;
}

.radius-large {
  border-radius: 20rpx;
}

.radius-xl {
  border-radius: 32rpx;
}

.radius-cell-default {
  border-radius: 44rpx;
}

/* 上下圆角类, 配合上面的radius-XXX来使用即可, 如radius-default radius-top */
.radius-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.radius-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
